@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Organização de cds</h1>
    <p><a asp-area="" asp-controller="Cds" asp-action="Index">Clique aqui para começar</a>.</p>
</div>

                            
                      